/* div.names{
    text-align: left;

}

label {
    text-align: center; 
    display: inline-block;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

select.common {
    width: 161px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

label.lbl1 {
    height: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
 } 

input.oneInput {
    width: 200px;
}

 */

 select.common {
	height: 30px;
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
}

label 				 {
	color:#999; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }


.createuserinput{
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #757575;
}


 .btncreate{
	background-color: #29363d;
	width: 20%;
	text-align: center;
	/* margin: auto;
	display: block; */
	
}

.btncreate{
	color: white;
	border-color: #29363d;
	font-size:15px;
	opacity: 1;
	font-weight: 700;
	border-radius: 3px;
	border-width: 1px;
	
}

.btncreate:hover{
	background-color:white;
	border-color: #29363d;
	color: #29363d;
	opacity: 1;
}

.group 			  { 
	position:relative; 
	margin-bottom:45px; 
  }
  /* input 				{
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:100%;
	border:none;
	border-bottom:1px solid #757575;
  } */
  input:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  label 				 {
	color:#999; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:#5264AE;
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:100%; }
  .bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#5264AE; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
  }
  .bar:before {
	left:50%;
  }
  .bar:after {
	right:50%; 
  }
  
  /* active state */
  input:focus ~ .bar:before, input:focus ~ .bar:after {
	width:50%;
  }
  
  /* HIGHLIGHTER ================================== */
  .highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
  }
  
  /* active state */
  input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
	  from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
	  from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
	  from { background:#5264AE; }
	to 	{ width:0; background:transparent; }
  }