<body>




  <div class="container">
    <div class="title">
      <h1> <img src="https://www.mhp.com/fileadmin/www.mhp.com/template/public/images/MHP_Logo_RGB.svg"> </h1>
    </div>
    <br>
    <br>
    <form>


      <div class="passinput">
        <div class="group">
          <input type="password" placeholder=" Enter password " id="currentpassword" [(ngModel)]="currentpassword" name="currentpassword"
            required #cpwd="ngModel" #refrence1>
          <span class="highlight"></span>
          <span class="bar"></span>
          <div [hidden]="cpwd.valid || cpwd.pristine" class="alert">
            Current Password is required
          </div>
        </div>
      </div>


      <div class="passinput">
        <div class="group">
          <input type="password" placeholder=" New Password " id="newpassword" [(ngModel)]="newpassword" name="newpassword" required
            #npwd="ngModel" #refrence2>
          <span class="highlight"></span>
          <span class="bar"></span>
          <div [hidden]="npwd.valid || npwd.pristine" class="alert">
            New Password is required
          </div>
        </div>
      </div>


      <div class="passinput">
        <div class="group">
          <input type="password" placeholder=" Confirm New Password " id="newpassword2" [(ngModel)]="newpassword2" name="newpassword2"
            required #npwd2="ngModel" #refrence3>
          <span class="highlight"></span>
          <span class="bar"></span>
          <div [hidden]="npwd2.valid || npwd2.pristine" class="alert">
            Reenter New Password is required
          </div>
        </div>
      </div>

      <div class="button">
        <button class="btn btn-outline-primary" (click)="changePassword()" (click)="refrence1.value=''" (click)="refrence2.value=''" (click)="refrence3.value=''">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"> </span>
          <font size="1" color="#123456"> Change Password</font>
        </button>



        <!--<button class="btn btn-outline-primary"  (click)="resetPassword()">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"> </span>
            <font size="1" color="#123456"> Reset Password</font>
        </button>
        -->
      </div>

    </form>
  </div>

  <div *ngIf="passChanged">
    <div class="alert alert-success">
      <strong>Success!</strong> The password was successfully changed!
    </div>
  </div>

  <div *ngIf="passNotChanged">
    <div class="alert alert-danger">
      <strong>Fail!</strong> Your entered password is wrong! Please try again
    </div>
  </div>

  <div *ngIf="passNotChanged2">
    <div class="alert alert-danger">
      <strong>Fail!</strong> You have entered two different new passwords! Please try again
    </div>
  </div>


</body>