.navbar{
    background-color: #29363d;
    text-align: center;
    position: relative;
    display: inline-block;

}

.navbarImage{
    width:10px;
}

.btnnav{
        background-color:#29363d;
        border-color: #337ab7;
        color: white;
        opacity: 1;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size:18px;
        font-weight: 700;
        /* padding:10px 10px 10px 5px; */
        display:block;
        /* border-width: 2px; */
        /* border-radius:2px; */
        padding-right: 5px;
        padding-left: 0px;
        width: 192%;
        margin-left: -46%;
        border-style: ridge;
    }
    
    .btnnav:hover{
        color: white;
        border-color: #5c6a82;
        background-color: #5c6a82;
        opacity: 1;
    }
    li {
        display: inline;
    }
    .navbutton{
        background-color: #29363d;
        text-align: center;
        display: inline-block;
        align-content: center;
    }

    .ulclass{
        padding-left: 0px;
        margin-bottom: 0px;
        align-content: center;
        display: inline-block;
    }

    .col-md-2{
        width: 12%;
        min-height: 0px;
        /* padding: 0; */
        text-align: center;
        align-content: center;
        display: inline-block;
    }

    .col-md-10{
        margin-left: 15%;
    }

    .btn.active{
        background-color: #5c6a82;
        color: white;
    }