<div *ngIf="employeeBool===true">
  <!-- <table class="table table-bordered"> -->
<table class="table table">
    <thead class="cal">
      <tr>
        <th class="text-center" colspan="30">Calendar</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th class="text-center" colspan="30">
            <button (click)="prevMonthUser()" class="btn btn-default ale" aria-label="Left Align">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              </button>
              {{month}} {{year}}
          <button (click)="nextMonthUser()" class="btn btn-default ale" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </th>
  
      </tr>
    </thead>
    <thead  class="dd">
      <tr>
        <th class="text-center" colspan="5">WEEKS</th>
        <th class="text-center" colspan="5">WEEK 1</th>
        <th class="text-center" colspan="5">WEEK 2</th>
        <th class="text-center" colspan="5">WEEK 3</th>
        <th class="text-center" colspan="5">WEEK 4</th>
        <th class="text-center" colspan="5">WEEK 5</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="dow">
        <th colspan="5">Day of the week</th>
        <th *ngFor="let item of items; let i = index" class="text-center hh" width="4%"> 
          <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.dayInMonth==0" class="colob" >
            {{item.day}}
          </div>
          <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.dayInMonth>0" >
            {{item.day}}
            <br>
            <span class="cocojambo" align="center">{{userActive?.tableEntry?.requestsImplementation[i].dayInMonth}}</span>
          </div>
        </th>
      </tr>
      
      <tr >
          <th colspan="5">{{userActive?.firstName}} {{userActive?.lastName}}</th>
          <td *ngFor="let item of items; let i = index" class="text-center aleale">
            <div></div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.dayInMonth==0" class="coloa"> </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='VACATION'" class="vacationAccepted" > </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='VACATION_PENDING'" class="vacationPending"> </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_WHOLE_DAY'" class="homeOfficeWDAccepted"> </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_FIRST_HALF'" class="homeOfficeFHAcceptedWrapper">
            <div class="hoFHRight" ></div>
            <div class="hoFHLeft" ></div>
            </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_SECOND_HALF'" class="homeOfficeSHAcceptedWrapper"> 
                <div class="hoSHRight" ></div>
                <div class="hoSHLeft" ></div>
            </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_WHOLE_DAY'" class="homeOfficePendingWH"> </div> 
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_FIRST_HALF'" class="homeOfficeFHPendingWrapper">
                <div class="hoFHRightP" ></div>
                <div class="hoFHLeftP" ></div>
            </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_SECOND_HALF'" class="homeOfficeSHPendingWrapper"> 
                <div class="hoSHRightP" ></div>
                <div class="hoSHLeftP" ></div>
            </div>
            <div *ngIf="userActive?.tableEntry?.requestsImplementation[i]?.type=='UNINITIALIZED'" > </div>
          </td>
      </tr>
    </tbody>
  </table>
</div>



<div *ngIf="teamCoord==true">
<!-- <table class="table table-bordered"> -->
<table class="table table">
  <thead class="cal">
    <tr>
      <th class="text-center" colspan="30">Calendar</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th class="text-center" colspan="30">
          <button (click)="prevMonthTeamCoord()" class="btn btn-default ale" aria-label="Left Align">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
            {{month}} {{year}}
        <button (click)="nextMonthTeamCoord()" class="btn btn-default ale" aria-label="Left Align">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>
      </th>

    </tr>
  </thead>
  <thead  class="dd">
    <tr>
      <th class="text-center" colspan="5">WEEKS</th>
      <th class="text-center" colspan="5">WEEK 1</th>
      <th class="text-center" colspan="5">WEEK 2</th>
      <th class="text-center" colspan="5">WEEK 3</th>
      <th class="text-center" colspan="5">WEEK 4</th>
      <th class="text-center" colspan="5">WEEK 5</th>
    </tr>
  </thead>
  <tbody>
    <tr  class="dow">
      <th colspan="5">Day of the week</th>
      <th *ngFor="let item of items; let i = index" class="text-center hh" width="4%"> 
        <div *ngIf="users[0]?.tableEntry?.requestsImplementation[i]?.dayInMonth==0" class="colob" >
          {{item.day}}
        </div>
        <div *ngIf="users[0]?.tableEntry?.requestsImplementation[i]?.dayInMonth>0" >
          {{item.day}}
          <br>
          <span class="cocojambo" align="center">{{users[0]?.tableEntry?.requestsImplementation[i].dayInMonth}}</span>
        </div>
      </th>
    </tr>
    
    <tr *ngFor="let user of users; let userIndex = index">
        <th colspan="5">{{user.firstName}} {{user.lastName}}</th>
        <td *ngFor="let item of items; let i = index" class="text-center aleale" 
            (click)="selectCell(userIndex, i)">
          <div></div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.dayInMonth==0" class="coloa"> </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='VACATION'" class="vacationAccepted" > </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='VACATION_PENDING'" class="vacationPending"> </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_WHOLE_DAY'" class="homeOfficeWDAccepted"> </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_FIRST_HALF'" class="homeOfficeFHAcceptedWrapper">
          <div class="hoFHRight" ></div>
          <div class="hoFHLeft" ></div>
          </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_SECOND_HALF'" class="homeOfficeSHAcceptedWrapper"> 
              <div class="hoSHRight" ></div>
              <div class="hoSHLeft" ></div>
          </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_WHOLE_DAY'" class="homeOfficePendingWH"> </div> 
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_FIRST_HALF'" class="homeOfficeFHPendingWrapper">
              <div class="hoFHRightP" ></div>
              <div class="hoFHLeftP" ></div>
          </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_SECOND_HALF'" class="homeOfficeSHPendingWrapper"> 
              <div class="hoSHRightP" ></div>
              <div class="hoSHLeftP" ></div>
          </div>
          <div *ngIf="user.tableEntry?.requestsImplementation[i]?.type=='UNINITIALIZED'"> </div>
        </td>
    </tr>
  </tbody>
</table>
</div>


<div *ngIf="teamLead==true">
  <!-- <table class="table table-bordered"> -->
<table class="table table">
    <thead class="cal">
      <tr>
        <th class="text-center" colspan="35">Calendar</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th class="text-center" colspan="35">
            <button (click)="prevMonth()" class="btn btn-default ale" aria-label="Left Align">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              </button>
              {{month}} {{year}}
          <button (click)="nextMonth()" class="btn btn-default ale" aria-label="Left Align">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </th>
  
      </tr>
    </thead>
    <thead  class="dd">
      <tr>
        <th class="text-center" colspan="6">WEEKS</th>
        <th class="text-center" colspan="5">WEEK 1</th>
        <th class="text-center" colspan="5">WEEK 2</th>
        <th class="text-center" colspan="5">WEEK 3</th>
        <th class="text-center" colspan="5">WEEK 4</th>
        <th class="text-center" colspan="5">WEEK 5</th>
      </tr>
    </thead>
    <tbody>
      <tr  class="dow">
        <th colspan="6">Day of the week</th>
        <th *ngFor="let item of items; let i = index" class="text-center hh" width="4%"> 
          <div *ngIf="abcd?.tableEntry?.requestsImplementation[i]?.dayInMonth==0" class="colob" >
            {{item.day}}
          </div>
          <div *ngIf="abcd?.tableEntry?.requestsImplementation[i]?.dayInMonth>0" >
            {{item.day}}
            <br>
            <span class="cocojambo" align="center">{{abcd?.tableEntry?.requestsImplementation[i].dayInMonth}}</span>
          </div>
        </th>
      </tr>
      
      <!-- aici nu -->
    <!-- <tr *ngFor="let team of teams; let teamIndex = index">{{team?.name}} -->
      <!-- <tr *ngFor="let user of teams[teamIndex]?.users; let userIndex = index"> -->
    <tr *ngFor="let user of allUsers; let userIndex = index">
      <th class="border-right" [class.border]="user?.team?.name === allUsers[userIndex-1]?.team?.name" > 
        <span *ngIf="user?.team?.name !== allUsers[userIndex-1]?.team?.name">{{user?.team?.name}}</span> 
      </th>
      <th colspan="5">{{user?.user?.firstName}} {{user?.user?.lastName}}</th>
      <td *ngFor="let item of items; let i = index" class="text-center aleale" 
          (click)="selectCell(userIndex, i)">
        <div></div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.dayInMonth==0" class="coloa"> </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='VACATION'" class="vacationAccepted" > </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='VACATION_PENDING'" class="vacationPending"> </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_WHOLE_DAY'" class="homeOfficeWDAccepted"> </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_FIRST_HALF'" class="homeOfficeFHAcceptedWrapper">
        <div class="hoFHRight" ></div>
        <div class="hoFHLeft" ></div>
        </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_SECOND_HALF'" class="homeOfficeSHAcceptedWrapper"> 
            <div class="hoSHRight" ></div>
            <div class="hoSHLeft" ></div>
        </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_WHOLE_DAY'" class="homeOfficePendingWH"> </div> 
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_FIRST_HALF'" class="homeOfficeFHPendingWrapper">
            <div class="hoFHRightP" ></div>
            <div class="hoFHLeftP" ></div>
        </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='HOME_OFFICE_PENDING_SECOND_HALF'" class="homeOfficeSHPendingWrapper"> 
            <div class="hoSHRightP" ></div>
            <div class="hoSHLeftP" ></div>
        </div>
        <div *ngIf="user?.user?.tableEntry?.requestsImplementation[i]?.type=='UNINITIALIZED'" > </div>
      </td>
    </tr>
    </tbody>
  </table>
  
</div>


  


<table class="legend">
<tr>
<th  colspan="2" class="leg">LEGEND</th>
</tr>
<tr>
  <td>
<div>Vacation Request Accepted </div>  
  </td>
  <td>
      <div class="vra"></div>
  </td>
</tr>
<tr>
  <td>
<div>Vacation Request Pending </div>
  </td>
  <td>
    <div class="vrp"></div> 
    </td>
</tr>
<tr>
  <td>
<div>Home Office Request Accepted </div>
  </td>
  <td>
 <div class="hora"></div>
  </td>
</tr>
<tr>
  <td>
<div>Home Office Request Pending </div>
  </td>
  <td>
  <div class="horp"></div>
  </td>
</table>